* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    min-height: 100vh;
   
    font-family: poppins;
    background-color: #ededed;
}
.page1{
    padding: 0vw 8vw;
}

.nav {
    width: 100%;
    height: 5vh;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: poppins;
    padding-top: 2vw;
}

.nav h1 {
    font-size: 2vw;
    font-weight: 700;
    opacity: 0.8;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3vw;
    opacity: 0.8;
    font-size: 1.3vw;
}

.nav ul li {
    position: relative;
    cursor: pointer;
}

.nav ul li::after {
    width: 0%;
    height: 1px;
    background-color: gray;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    transition: all 0.2s ease;
}

.nav ul li:hover::after {
    width: 100%;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
}

.btn1 {
    padding: 2px;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 



    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.btn2 {
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.btn1 button {
    padding: 0.6vw 1vw;
    border-radius: 6px;
    border: none;
    font-size: 1vw;
    font-weight: 600;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn1 button:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.btn2 button {
    padding: 0.7vw 2.1vw;
    border-radius: 8px;
    border: none;
    font-size: 1vw;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.page1-content {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */

}

.left-page1 {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}

.left-page1 h1 {
    font-size: 4vw;
    padding: 5vw 5vw 0vw 0;
    line-height: 4.5vw;
}

.left-page1 p {
    font-size: 1.2vw;
    color: gray;
    padding: 2vw 0;
}

.left-page1>button {
    padding: 0.8vw 2vw;
    font-size: 1.2vw;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: white;
    outline: none;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
}

.right-page1 {
    width: 50%;
    height: 100%;
    /* background-color: greenyellow; */
}

.right-page1 img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.left-page1 a {
    padding-left: 0.5vw;
    color: black;
    font-size: 1.1vw;
}

.left-page1 span {
    padding: 0.5vw 1.2vw;
    border-radius: 50px;
    position: relative;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
    margin-left: 2vw;
}

.left-page1 span i{
    font-size: 3vw;
    vertical-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.flag1{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
}
.flag1 img{
    width: 15%;
}

.page2>h1{
    text-align: center;
    padding-top: 8vw;
    font-size: 2.2vw;
    font-weight: 600;
}
.page2-search-box{
display: flex;
align-items: center;
justify-content: center;
padding: 3vw;
}
.page2-search-box i{
    font-size: 1.5vw;
    padding: 1vw 0vw 1vw 1vw;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.page2-search-box i:hover{
    color: rgb(0, 119, 255);
}
.page2-search-box input{
    font-size: 1.5vw;
    padding: 1vw;
    background-color: #fff;
    width: 30%;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.page2-search-box button{
    font-size: 1.5vw;
    padding: 1vw 2vw;
    background-color: #fff;
    margin-left: 2vw;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
    cursor: pointer;
    transition: all 0.25s linear;
}
.page2-search-box button:hover{
    font-size: 1.6vw;
    padding: 0.8vw 1.8vw;
}

.page2-content {
    width: 100%;
    display: flex;
    padding: 4vw 8vw;
}
.page2-left-content {
    width: 50%;
}
.page2-right-content {
    width: 50%;
    padding: 2vw 3vw;
}
.page2-left-content img{
    width: 100%;
    object-fit: contain;
}
.page2-right-content h1{
    padding-bottom: 2vw;
}
.page2-right-content h1 span{
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
    width: max-content;
    color: transparent;
    -webkit-background-clip: text;
}

.page2-list {
    display: flex;
    margin-bottom: 2vw;
    position: relative;
}
.page2-list::after{
    transition: all 0.5s linear;
    content: '';
    width: 0%;
    height: 1px;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
    position: absolute;
    left: 0;
    bottom: -2px;
}
.page2-list:hover::after{
    width: 100%;
}
.left-list{
    padding: 0 2vw;
}

.left-list i{
    font-size: 3vw;
    width: 70px;
    height: 70px;
    color: white;
    border-radius: 50px;
    background-color: rgb(218, 69, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-list h3{
    font-weight: 600;
    padding-bottom: 0.6vw;
    font-size: 1.3vw;
}
.right-list p{
    color: gray;
}
#pink{
    background-color: rgb(255, 162, 177);
    font-size: 2.5vw;
    text-align: center;
}

.page3{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196)); 
    padding-bottom: 4vw;
}

.page3-h {
    text-align: center;
    padding: 5vw 30vw 2vw 30vw;
    color: rgb(223, 223, 223);
}
.page3-h> h1{
    padding: 1vw 0;
}
.page3-content {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
}
.page3-box {
    width: 30%;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0.5vw;
}
.page3-box img{
    height: 30vh;
    object-fit: cover;
    width: 100%;
    /* padding: 0.5vw; */
    border-radius: 20px;
}
.rating{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5vw; */
}

.rating span{
    width: max-content;
    padding: 0 0.8vw;
    background-color: rgba(187, 29, 255, 0.989);
    border-radius: 5px;
    color: white;
    margin: 1vw 0;
}
.rating span:nth-child(1){
    color: black;
    background-color: rgba(214, 130, 250, 0.778);
}
.rating span i{
    color: rgb(232, 209, 2);
    margin-right: 5px;
}
.page3-box>h2{
    width: 100%;
    padding: 2vw 0vw;
    line-height: 1.7vw;
}
.page3-detel span{
    margin-right: 1vw;
    padding: 1vw 0;
}
.page3-detel span i{
    color: rgba(187, 29, 255, 0.989);
    /* padding: 0.5vw; */
}

.price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0;
}
.price span{
    /* width: 30%; */
    object-fit: cover;
    display: flex;
    align-items: center;
    color: rgba(187, 29, 255, 0.989);
}
.price span img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover;
    margin: 0 1vw;
}
.price span:nth-child(1){
   color: black;
   font-size: 1.4vw;
   font-weight: 600;
}



.page4{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    padding: 5vw 8vw;
}

.left-page4 {
    width: 50%;
    height: 100%;
    /* background-color: darkblue; */
}
.left-page4-part1{
    padding: 2vw 0;
}
.left-page4-part1 h1 span{
    width: max-content;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196));
    color: transparent;
    -webkit-background-clip: text;
}

.left-page4-part1 p{
    padding-right: 8vw;
    color: gray;
}

.left-page4-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0;
}
.page4-list1 p {
    font-size: 1.2vw;
}
.ri-circle-fill {
    font-size: 0.8vw;
    color: rgba(187, 29, 255, 0.989);
}
.page4-list2 p {
    font-size: 1.2vw;
    padding-right: 4vw;
}
.left-page4>button{
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgb(162, 47, 250),rgba(183, 88, 255, 0.959), rgb(255, 114, 196));
    color: white;
    font-size: 1.3vw;
    margin-top: 2vw;
}

.right-page4 {
    width: 50%;
    height: 100%;
    /* background-color: rgb(72, 139, 0); */
}
.right-page4 img{
    object-fit: cover;
    width: 100%;
    padding: 2vw 5vw;
}


.page5{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(148, 9, 255, 0.823),rgba(183, 88, 255, 0.793), rgba(255, 114, 196, 0.555),rgba(255, 114, 196, 0.555),rgba(183, 88, 255, 0.783),rgba(150, 20, 249, 0.837));
}

.page5-content1 {
    width: 100%;
    padding: 3vw 8vw;
}
.content1-h h1{
    padding: 2vw;
}
.content1-h {
    text-align: center;
    padding: 2vw 20vw;
    color: white;
}
.content1-students {
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.content1-students::-webkit-scrollbar{
    display: none;
}
.student1 {
    scroll-snap-type: mandatory;
    width: 30%;
    height: 25vh;
    background-color: #fff;
    border-radius: 20px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-right: 4vw;
    
}

.student1-profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
}
.student1-profile img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 3px solid rgba(187, 29, 255, 0.989);
    object-fit: cover;
}
.student1-name p{
    line-height: 0.4vw;
    font-size: 0.8vw;
}
.ri-star-s-fill {
    font-size: 0.8vw;
    color: goldenrod;
}
.student1>p{
    padding: 1vw;
}


.page5-content2 {
    width: 100%;
    height: 60vh;
    background-color: #fff;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2-form {
    width: 60%;
    height: 70%;
    background: linear-gradient(to bottom right, rgb(162, 47, 250), rgb(255, 114, 196));
    border-radius: 30px;
    text-align: center;
    color: #fff;
    padding: 2vw 5vw;
}
.content2-form p{
    padding: 0 10vw 2vw 10vw;
}

.content2-form form> input, form> button{
    padding: 1vw 3vw;
    font-size: 1.1vw;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 1vw;
}
.content2-form form button a{
    font-size: 1.3vw;
    font-weight: 600;
    background: linear-gradient(to bottom right, rgb(162, 47, 250), rgb(255, 114, 196));
    color: transparent;
    cursor: pointer;
    -webkit-background-clip: text;
}

.page5-content3{
    width: 100%;
    /* height: 100vh; */
    padding: 2vw 10vw;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.part1{
    color: white;
    width: max-content;
    min-height: 15vw;

    /* background-color: red; */
    /* margin: 0 4vw; */
}
.part1 i{
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
    cursor: pointer;
}
.part1 p{
    padding: 1vw 0;
    font-size: 1vw;
}
.part1 h2{
    width: max-content;
    font-weight: 500;
    font-size: 1.3vw;
    margin-bottom: 1vw;
    position: relative;
}
.part1 h2::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-radius: 20px;
}

.part1 a{
    text-decoration: none;
    color: white;
    line-height: 2.5vw;
    font-size: 1vw;
    position: relative;
}
.part1 a::after{
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    transition: 0.25s all linear;
}
.part1 a:hover::after{
    width: 100%;
}

.copy {
    text-align: center;
    color: white;
}
.line {
    width: 100%;
    height: 2px;
    background:linear-gradient(to right, transparent, rgba(255, 255, 255, 0.558),white,rgba(255, 255, 255, 0.558),transparent);
    margin: 2vw 0;
}

